* {
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: "Rubik-Regular";
    src: url(font/Rubik-Regular.ttf);
}
@font-face{
    font-family: "Rubik-Medium";
    src: url(font/Rubik-Medium.ttf);
}
:root{
    --hbase:"Rubik-Medium";
    --pbase:"Rubik-Regular";
}
body{
    font-size: 18px;
}

h1 {
    font-family: var(--hbase);
}
p {
    font-family: var(--pbase);
    color: rgb(167, 161, 161);
}
.navbar-collapse{
    justify-content: flex-end;
}
.nav-text:hover{
    color:hsl(0, 94%, 66%) !important;
}
.nav-link{
    font-size: 15px !important;
    font-family: var(--pbase);
    letter-spacing: 1.5px;
    color: rgb(83, 83, 80)!important;
    transition: 0.2s;
}
.nav-tabs:hover{
    color:hsl(0, 94%, 66%) !important;
}
.nav-tabs.active{
    border-bottom: 4px solid hsl(0, 94%, 66%);
}
.btn-red{
    background: hsl(0, 94%, 66%)!important;
    color:white!important;
    border-radius: 4px !important;
    font-family: var(--hbase);
}
.btn-red:hover{
    background:white!important;
    color: hsl(0, 94%, 66%)!important;
    border-color: red!important;
    
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
    margin-left:5em;
}
.header-content{
    margin: 1em;
    width: 32%;
    max-width: 480px;
    margin-top: 5em;
    width: 480px;

}
.btn-blue{
    background: hsl(231, 69%, 60%)!important;
    color: white!important;
    font-family: var(--hbase);
    border-radius: 9px !important;
}
.btn-blue:hover{
    background: white!important;
    color:hsl(231, 69%, 60%)!important;
    border-color:blue!important;
}
.btn-white{
    background:white!important;
    color: grey!important;
    font-family: var(--hbase);
    border-radius: 9px !important;
}
.btn-white:hover{
    border-color:grey!important;
    background:white!important;
    color:grey!important;
}
#header{
    position: relative;
}
#header::after{
    content: "";
    display: block;
    width: 600px;
    height: 350px;
    background: hsl(231, 69%, 60%);
    position: absolute;
    right: 0px;
    bottom: 8px;
    border-bottom-left-radius: 170px;
    z-index: -9;
}
@media(max-width:980px) {
    #header::after{
        width: 600px;
        height: 350px;
        background: hsl(231, 69%, 60%);
        position: absolute;
        right: 0px;
        bottom: 8px;
    }
}
.features-content{
    display: block;
    text-align: center;
    width: 42%;
}
h2 {
    font-family: var(--hbase);
}
h4 {
    font-family: var(--hbase);
}
h5{
    font-family: var(--pbase);
    font-size: 15px;
    color: rgb(167, 161, 161);
}
.nav{
    justify-content: center;
}
.tab1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 5em;
}
.tab1-content{
    margin: 1em;
    max-width: 400px;
    margin-top: 5em;
}
.download-content{
    display: block;
    text-align: center;
    width: 42%;
}
.faq-content{
    display: block;
    text-align: center;
    width: 42%;
}
.extension-row{
    min-height: 27em;
    max-width: 52em;

}
.extension-border{
    border-radius: 8%;
}
.accordion-faq{
    justify-content: center !important;
    width: 580px
}
.card{
    border:none !important;
    border-top: 1px solid rgb(206, 201, 201) !important;
}
.card-faq{
    color:black !important;
    text-decoration:none !important;
}
.card-faq:hover{
    color:hsl(0, 94%, 66%) !important;
}
.btn:focus{
    box-shadow:none !important;
}
.card-header{
    background-color: white !important;
    border-bottom: none !important;
    padding:.75rem 0rem;
}
.card-four{
    border-bottom: 1px solid rgb(206, 201, 201) !important;       
}
.contact-book {
    background: hsl(231, 69%, 60%);
    color: white !important;
}
.contact-book p {
    color: white !important;
    font-family: var(--hbase);
    letter-spacing: 5px;
    font-size: 15px;
}
.contact-book h2{
    width:75%;
    text-align: center;
}
.submit-btn{
    font-size:15px;
}